// Define variables for your color scheme
$dark-green: #1b5240;
$beige: #def2ec;
$pink: #c093c7;

$pink: #e2acbb;
$green: #1b5240;
$red:#FF3D00;
$beige:#F4F0E5;
$gray: #EBEAEB;


// For example:
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$light-gray: #F4F4F4;
