// Define variables for your color scheme
$dark-green: #1b5240;
$beige: #def2ec;
$pink: #FFB4C6;
$green: #006e49;
$red:#FF3D00;
$beige:#F4F0E5;
$gray: #EBEAEB;
$black: #0B2B2B;
$orange: #fae2ce69;
$light-green: #dbf5eda6;
$purple: #E1DBF7;

// For example:
$blue: #0D6EFD;
$yellow: #FFC65A;

$light-gray: #F4F4F4;
