// Specific CSS for your home-page
.home-page{
background-color: $green;
height: 2200px;
color: #e2acbb;
position: relative;
justify-content: center;
align-items: center;
h3{
  text-align: center;
}
}
.underline{
  text-decoration: underline;
}
#home-page-header{
  font-family: 'PT Sans Narrow', sans-serif;
  color: $pink;
  font-size: 500px;
  text-shadow:  10px 8px #733737;
  text-align: center;
  line-height: 1.1;
}
.contents{
  justify-content: center;
}
.learn-more{
  text-align: center;
  border:none;
  height: 100px;
  width:300px;
  border-radius: 15px;
  font-size: 50px;
  background-color: transparent;
  transition: .2s ease-in;
  margin: auto;
}
.learn-more:hover{
  border: solid 3px #CCFF66;
  color: #CCFF66;
}

.green-btn {
  color: $green;
  border: solid 3px $green;
}

.pink-btn {
  color: $pink;
  border: solid 3px $pink;
}

#demo{
  color: #e2acbb;
  font-size: 30px;
  position: absolute;
  bottom: 300px;
  left: 30px;
}

body {
  background-color: $beige;
  color: $green;
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}


#login-button{
  width: fit-content;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 10px 15px 10px 15px;
}

.flower-1{
  height:70px;
  width: 70px;
  color: #FFE1CB;
  position: absolute;
  top:20px;
  left:200px;
  transition: transform .7s ease-in-out;
}
.flower-1:hover {
  transform: rotate(360deg);
}
.flower-2{
  height:90px;
  width: 90px;
  color: #E2DBF9;
  position: absolute;
  top:160px;
  right:250px;
  transition: transform 1s ease-in-out;
}
.flower-2:hover {
  transform: rotateY(360deg);
}
.flower-3{
  height:40px;
  width: 40px;
  color: $orange;
  position: absolute;
  top:700px;
  right:500px;
  transition: transform .2s ease-in-out;
}
.flower-3:hover {
  transform: rotate(560deg);
}
.flower-4{
  height:50px;
  width: 50px;
  color: $orange;
  position: absolute;
  top:690px;
  left:60px;
  transition: transform 1s ease-in-out;
}
.flower-4:hover {
  transform: rotate(160deg);
}
.flower-5{
  height:50px;
  width: 50px;
  color: #FFE1CB;
  position: absolute;
  top:300px;
  left:100px;
  transition: transform 1s ease-in-out;
}
.flower-5:hover {
  transform: rotateY(360deg);
}
.flower-6{
  height:70px;
  width: 70px;
  color: $orange;
  position: absolute;
  top:600px;
  right:60px;
  transition: transform .7s ease-in-out;
}
.flower-6:hover {
  transform: rotate(360deg);
}
.flower-7{
  height:90px;
  width: 90px;
  color: $orange;
  position: absolute;
  top:200px;
  left:30px;
  transition: .3s ease-in-out;
}
.flower-7:hover{
  transform: scale(.6);
}
.flower-8{
  height:30px;
  width: 30px;
  color: #E2DBF9;
  position: absolute;
  top:400px;
  right:30px;
  transition: .3s ease-in-out;
}
.flower-8:hover{
  transform: scale(1.6);
}
.flower-9{
  height:90px;
  width: 90px;
  color: $orange;
  position: absolute;
  top:500px;
  left:200px;
  transition: transform .7s ease-in-out;
}
.flower-9:hover {
  transform: rotate(360deg);
}
.flower-10{
  height:50px;
  width: 50px;
  color: $orange;
  position: absolute;
  top:100px;
  right:200px;
  transition: .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.flower-10:hover{
  transform: scale(1.9);
}
.landing-info{
  object-fit: cover;
  object-fit: center;
  margin-top: 400px;
  margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info-image{
  width: 600px;
  height: 600px;
}

.top{
  margin-bottom: 600px;
}


.pink-background{
  background-color: #FFC5C5;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;


}

.shape_bottom_left{
  width: 300px;
  height: 300px;
  position: absolute;
  left: 5px;
  bottom: -91px;
}


.shape_bottom_right{
  width: 300px;
  height: 300px;
  position: absolute;
  right: 15px;
  bottom: -67px;
}

.shape_top_left{
  width: 300px;
  height: 300px;
  position: absolute;
  left: 15px;
  bottom: 529px
}

.shape_top_right{
  width: 250px;
  height: 250px;
  position: absolute;
  right: 5px;
  bottom: 567px;

}



  .text-bottom-left {
    position: relative;
    font-size: 20px;
    left: 10px;
    bottom: -98px;
  }

  .text-top-left{
    position: relative;
    bottom: 630px;
    left: 1px;
    font-size: 20px;
    color: white;
  }


.text-top-right{
  position: relative;
  bottom: 710px;
  left: 966px;
  font-size: 20px;
  color: black;
  }

.text-bottom-right{
  position: relative;
  bottom: -31px;
  left: 930px;
  font-size: 20px;
  color: white;
}

.icone_top_left{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 140px;
  bottom: 638px;
}

.icone_bottom_right{
  width: 20px;
  height: 20px;
}

.icone_bottom_left{
  width: 20px;
  height: 20px;
}

.icone_top_right{
  width: 20px;
  height: 20px;
}


.step-wrapper {
  border-radius: 25px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 150px;
  position: absolute;

  .info-icon {
    width: 20px;
    height: 20px;
  }

  p {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
}

.top-right {
  right: 120px;
  top: 70px;
}

.bottom-right {
  right: 120px;
  bottom: 200px;
}

.bottom-left {
  left: 120px;
  bottom: 200px;
}

.top-left {
  left: 120px;
  top: 70px;
}

.yellow-bg {
  background-color: rgb(255, 234, 143);
}

.blue-bg {
  background-color: rgb(122, 205, 255);

  p {
    color: white;
  }
}

.arrow {
  position: absolute;
  width: 150px;
  height: 150px;
}

.arrow-right {
  right: 113%;
  top: 20%;
}
.arrow-right-bottom {
  right: 120%;
  top: -50%;
}
.arrow-left {
  right: -70%;
  top: 40%;
}
.arrow-left-bottom {
  right: -65%;
  top: -80%;
}
