<div class="my-challenges-children" id="completed-challenges">
  <h3>Your completed challenges</h3>
  <div class="challenge-iteration" id="completed-challenges">
    <%@completed_challenges.each do |challenge| %>
    <div class="dashboard-challenges-card">
      <h3><%=challenge.challenge.name %></h3>
      <h5><%= challenge.challenge.summary %></h5>
      <h5><%= challenge.challenge.duration %> days</h5>
    </div><%end %>
  </div>
</div>
