<div class="my-challenges-children" id="completed-challenges">
  <h3>Your completed challenges</h3>
  <% if @completed_challenges.count < 1 %>
    <div class="no-challenge-active m-5 p-3">
    <h4>You haven't completed any challenges yet, keep going!</h4>
    </div>
    <% else %>
    <div class="challenge-iteration" id="completed-challenges">
      <%@completed_challenges.each do |challenge| %>
        <div class="challenge-card-big-div">
        <% if challenge.challenge.category == "Food" %>
          <div class="challenge-card-quick-info bg-green"  id="completed-challenges-info">
        <% elsif challenge.challenge.category == "Transport"%>
          <div class="challenge-card-quick-info bg-purple"  id="completed-challenges-info">
        <% else %>
          <div class="challenge-card-quick-info bg-orange"  id="completed-challenges-info">
        <% end %>
          <div class="challenge-card-quick-info">
            <div class="challenge-duration">
              <h6 class="challenge-card-days"><%= challenge.challenge.duration %> Days</h6>
            </div>
            <div class="title-summary">
              <h6 class="challenge-card-title"><%=challenge.challenge.name %></h6>
              <p class="challenge-card-summary"><%= challenge.challenge.summary %></p>
            </div>
            <div class="challenge-category">
            <%# Need to iterate for each category %>
              <div class="challenge-card-category"><p class="challenge-category-text"><%= challenge.challenge.category %></p></div>
            </div>
          </div>
        </div>
      <%end %>
    </div>
  <%end %>
</div>
