<div class="row justify-content-center friend-form" data-user-card-target="cont">


      <%= form_with url: feed_path, method: :get, class: "d-flex search-form col-12", html: {data: {action: "submit->user-card#revealContent"}} do |f| %>
        <%= f.text_field :query,
              value: params[:query],
              class: "form-control",

              placeholder: "Search by email for friends to follow",
              data: { user_card_target: "input" },
              id:"searchQueryInput"
          %>
          <div data-user-card-target="button">
            <%= button_tag type:"submit", id: "searchQuerySubmit", class:"button-icon" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          </div>
      <% end %>
      <div class="col-12 friend-result" data-user-card-target="cards">
      </div>
  </div>
