<div class="my-challenges-children" id="your-progress">
  <h3>Your progress</h1>
  <div class="container">
    <%= line_chart [
    {name: "Food Score", data: @food_data, color: "#ADEBDC"},
    {name: "Travel Score", data: @travel_data, color: "#E1DBF7"},
    {name: "Home Score", data: @home_data, color: "#FAE2CE"}
    ] %>
  </div>
</div>


darker
    <%# {name: "Food Score", data: @food_data, color: "#4AD3B1"},
    {name: "Travel Score", data: @travel_data, color: "#9E8AE5"},
    {name: "Home Score", data: @home_data, color: "#F3AC6F"} %>
