<div class="my-challenges-children" id="your-progress">
  <h1>Your progress</h1>
  <div class="container">
    <%= line_chart [
    {name: "Food Score", data: @food_data, color: "#ED936D"},
    {name: "Travel Score", data: @travel_data, color: "#2A6465"},
    {name: "Home Score", data: @home_data, color: "#97C5DE"}
    ] %>
  </div>
</div>
