<div class="footer">
      <div class="footer-links">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-github"></i>
      <i class="fa-brands fa-facebook"></i>
        <a href="#">Contact us</a>
        <a href="#">Terms & Conditions</a>
        <p>SUS. Copyright © 2023 All rights reserved | Designed By: Anastasia, Heloise, Ollie and Vasana</p>
        </ul>
      </div>
  </body>
