<div class="home-page">
<div class="container" data-controller="apparition-button">
<button onclick="typeWriter()" class="period" data-action="click->apparition-button#loginbutton"> <i class="fa-solid fa-circle fa-2xl" style="color: #85ff93;"></i> <i class="fa-solid fa-arrow-pointer"></i> </button>

<p id="demo"></p>

<script>
var i = 0;
var txt = 'Are you the most sustainable in your circle? Lets make you. ';
var speed = 50;

function typeWriter() {
  if (i < txt.length) {
    document.getElementById("demo").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
}
</script>

<% if current_user %>
  <%= link_to "Explore", dashboard_path, class:"add-entry d-none", id:"login-button", data: {"apparition-button-target": "button"} %>
<% else %>
  <%= link_to "Login", new_user_session_path, class:"add-entry d-none", id:"login-button", data: {"apparition-button-target": "button"} %>
<% end %>

</div>
</div>
