<div class="container m-4">
    <div>
      <div class="challenge-card-title-div">
        <h2 class="header" id="feature-challenge-title"> Today's feature challenge</h2>
        <h2 class="header" id="challenge-about">About</h2>
      </div>
      <%= render "feature_card"%>
    </div>


  <h2 class="header"> Explore all challenges:</h2>
  <%= render "category_cards"%>
</div>
