<div class="container m-4">
    <div>
      <h2 class="header"> Today's feature challenge</h2>
      <%= render "feature_card"%>
    </div>


  <h2 class="header"> Explore all challenges:</h2>
  <%= render "category_cards"%>
</div>
