.challenge-card{
  border: solid;
  transition: .5s ease-in-out;
  flex-grow: 2;

  &:hover{
  transform:scale(1.05);
  }
}

.dashboard-challenges{
  border: solid;
  position: relative;
  width: 100%;

}

.feature{
  border: solid;
  width: 100%;
}

.circle{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
}

.green {
  background-color: green;
}

.grey {
  background-color: grey;

}

.my-challenges{
  flex-grow: 2;
}

.friend-avatar{
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
