.challenge-card{
  border: solid;
  background-color: white;
  border-color: black;
  transition: .5s ease-in-out;
  flex-grow: 2;
  color: black;
  border-radius: 10px;
  &:hover{
  transform:scale(1.05);
  }
}

.dashboard-challenges{
  border: solid;
  position: relative;
  width: 100%;

}

.feature{
  border: solid;
  width: 100%;
}

.circle{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
}

.header{
  color: black;
}
.green {
  background-color: green;
}

.grey {
  background-color: grey;

}

.my-challenges{
  flex-grow: 2;
}

.friend-avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}
