.challenge-category-wrapper {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  flex-wrap: unset;
  border:none;
}
.challenge-card{
  border: solid;
  background-color: white;
  transition: .6s ease-in-out;
  flex-shrink: 0;
  color: $green;
  border-radius: 10px;
  &:hover{
  transform:scale(1.02);
  }
}

.underline {
  text-decoration: underline;
}

.dashboard-challenges{
  border: solid;
  position: relative;
  width: 100%;

}

.feature{
  width: 100%;
}


.circle{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
}


.green {
  background-color: green;
}

.grey {
  background-color: grey;

}

.my-challenges{
  flex-grow: 2;
}

.friend-avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.user-dashboard-content{
  display: flex;
  margin-top: 60px;
  }
  .my-challenges-children {
    margin: 0px 0px 30px 0px;
  } // my-challenges-children
  .challenge-iteration {
    width: 960px;
    overflow-x: scroll;
    display: flex;
  } // challenge-iteration

  .dashboard-challenges-card {
    border: none;
    background-color: #e5e0d6;
    height: 265px;
    width: 285px;
    margin: 0px 30px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 5px;
    transition-duration: 0.3s;
    flex-shrink: 0;

    h3 {
      font-size: 21px;
    }
    h6 {}
  } // dashboard-challenges
  .flower-pot {
    width: 50px;
    height: 50px;
    bottom: 0;
    position: relative;
    img {
      transition-duration: 0.3s;
      height: 100%;
      width: 100%;
      -webkit-filter: drop-shadow(2px -2px 2px #2b2b2b);
      object-fit: cover;
    }
  }

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}
