.footer {
  background: rgb(241, 250, 243);
  padding: 15px 0;
  text-align: center;
  font-family: 'Play', sans-serif;
  color: rgb(10, 71, 37);
}

.footer .footer-links i.fa-brands {
  font-size: 1.5em;
  color:  rgb(10, 71, 37);
  transition: color 0.3s;
  margin: 0 10px;
}

.footer .footer-links i.fa-brands:hover {
  color: rgb(195, 212, 203);
}

.footer .footer-links a {
  text-decoration: none;
  color:  rgb(10, 71, 37);
  font-size: 1em;
  margin: 0 10px;
}

.footer .footer-links a:hover {
  color: rgb(170, 192, 158);
}

.footer-links {
  margin-bottom: 10px;
}

.footer .copyright {
  font-size: 0.8em;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }

  .footer .footer-links a,
  .footer .footer-links i.fa-brands {
    display: block;
    margin: 10px 0;
    text-align: left;
    font-size: 1em;
  }

  .footer .footer-links i.fa-brands {
    font-size: 1.2em;
  }
}
