.form-login {
  background: #F4F0E5;
  padding: 10px 20px;
  background-color: #F4F4F4;
  margin-top: 0px;
  border-radius: 10px;
  color: #000;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.containter-earth {
  align-content: center;

}

.form-login-earth {
  background: #F4F0E5;
  padding: 35px 35px;
  background-color: #F4F4F4;
  margin-top: 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: #black;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 5px;
    text-align: center;
    color: #000;
  }
  p{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.login-heading {
  background-color: #6a994e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 0px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.category-selector:checked + label {
  color: white !important;
}



// AVATAR
#user_avatar_avatar1_png + label {
  background-image: url("avatar1.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_avatar1_png:checked + label {
  border-color: #FD1015;
}

#user_avatar_avatar2_png + label {
  background-image: url("avatar2.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_avatar2_png:checked + label {
  border-color: #FD1015;
}
#user_avatar_avatar3_png + label {
  background-image: url("avatar3.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_avatar3_png:checked + label {
  border-color: #FD1015;
}
#user_avatar_avatar4_png + label {
  background-image: url("avatar4.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_avatar4_png:checked + label {
  border-color: #FD1015;
}
#user_avatar_avatar5_png + label {
  background-image: url("avatar5.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_avatar5_png:checked + label {
  border-color: #FD1015;
}
#user_avatar_avatar6_png + label {
  background-image: url("avatar6.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_avatar6_png:checked + label {
  border-color: #FD1015;
}
#user_avatar_avatar7_png + label {
  background-image: url("avatar7.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_avatar7_png:checked + label {
  border-color: #FD1015;
}
#user_avatar_avatar8_png + label {
  background-image: url("avatar8.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_avatar8_png:checked + label {
  border-color: #FD1015;
}
#user_avatar_avatar9_png + label {
  background-image: url("avatar9.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_avatar9_png:checked + label {
  border-color: #FD1015;

}

//SIGN UP FORM
.form-question {
  background: #F4F4F4;
  padding: 0px;
  margin-top: 0px;
  border-radius: 3px;

  color: #010000;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}
  p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: black;

  }

  .btn {
    width: 100%;
    margin-bottom: 20px
  }



  // ENTRY FORM STYLING - VASANA
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  h1{
    text-align: center;
  }
}

#post-header{
  background-color: #e8c5ce;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.modal-content {
  border-radius: 10px;
  color: #000;
}
.modal-header {
  background-color: #E1DCF7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-header > h1 {
  text-align: center;
  color: #fff;
}

.modal-title {
  font-size: 1.5rem;
}

// .modal-body {
//   padding: 20px;
// }

.simple_form {
  margin-bottom: 5px;
  color: black;
}

.simple_form label {
  font-weight: bold;
  margin-right: 10px;
}

.entry-form label {
  font-size: 30px;
  margin-left: 100px;
}

#textInput1{
  margin-left: 100px;
}

#textInput2{
  margin-left: 100px;
}

#textInput3{
  margin-left: 100px;
}

#textInput4{
  margin-left: 100px;
}

#textInput5{
  margin-left: 100px;
}

#textInput6{
  margin-left: 100px;
}

#textInput7{
  margin-left: 100px;
}

#textInput8{
  margin-left: 100px;
}

#textInput9{
  margin-left: 100px;
}

#textInput10{
  margin-left: 100px;
}

#textInput11{
  margin-left: 100px;
}

#textInput12{
  margin-left: 100px;
}

.third-modal label {
  font-size: 15px;
  margin-left: 0px;
}


.form-range {
  width: 50%;
  display: inline-flex;
}

.form-range + input[type="text"] {
  text-align: center;
  border: none;
  background-color: #010000;
  color: #000;
}

.modal-body {
  padding: 20px;
}

.modal-body button {
  background-color: #88674F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.modal-footer {
  display: flex;
  justify-content: center;
}


.modal-footer button {
  margin-right: 10px;
  background-color: #88674F;
  color: #715656;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
  background-color: #FACDA4;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2px;
}

.submit-button:hover {
  transform: scale(1.05) rotate(-1deg);
}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #80DBC1;
    margin-top: -4px;
}

input[type=range]::-webkit-slider-thumb.first-slider {
  background: #E1DCF7;
  font-size: 15px;
}


#purplebutton {
  background-color: #FACDA4;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2px;


}

#purplebutton:hover {
  transform: scale(1.05) rotate(-1deg);
}

#yellowbutton{
  background-color: #FACDA4;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2px;
}

#yellowbutton:hover {
  transform: scale(1.05) rotate(-1deg);
}


#greenbutton {
  background-color: #80DBC1;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2px;
}

#greenbutton:hover {
  transform: scale(1.05) rotate(-1deg);
}


.postbutton{
  background-color: #6a994e;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2px;
}

.postbutton:hover {
  transform: scale(1.05) rotate(-1deg);
}

.postbutton-earth{
  background-color: #006E49;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 19px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}

.postbutton-earth:hover {
  transform: scale(1.05) rotate(-1deg);
}
