.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 0px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.category-selector:checked + label {
  color: white !important;
}

#user_avatar_avatar1_png + label {
  background-image: url("avatar1.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_avatar1_png:checked + label {
  border-color: #FD1015;
}

#user_avatar_2 + label {
  background-image: url("avatar2.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_2:checked + label {
  border-color: #FD1015;
}
#user_avatar_3 + label {
  background-image: url("avatar3.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_3:checked + label {
  border-color: #FD1015;
}
#user_avatar_4 + label {
  background-image: url("avatar4.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_4:checked + label {
  border-color: #FD1015;
}
#user_avatar_5 + label {
  background-image: url("avatar5.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_5:checked + label {
  border-color: #FD1015;
}
#user_avatar_6 + label {
  background-image: url("avatar6.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_6:checked + label {
  border-color: #FD1015;
}
#user_avatar_7 + label {
  background-image: url("avatar7.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_7:checked + label {
  border-color: #FD1015;
}
#user_avatar_8 + label {
  background-image: url("avatar8.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_8:checked + label {
  border-color: #FD1015;
}
#user_avatar_9 + label {
  background-image: url("avatar9.png");
  background-size: contain;
  background-repeat: no-repeat
}

#user_avatar_9:checked + label {
  border-color: #FD1015;

}
.form-question {
  background: peachpuff;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}
  p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;

  }

  .btn {
    width: 100%;
    margin-bottom: 20px
  }
