.challenge-card-big-div {
  background-color: #ffffff;
  height: 265px;
  width: 285px;
  padding: 6px;
  margin: 0px 20px 0px 0px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
/* a Big div */
.challenge-card-quick-info {
    border: solid 0.7px #807d7d;
    background-color: #dbf5eda6;
    height: 75%;
    display: flex;
    flex-direction: column;
    padding: 8px 17px 8px 8px;
    border-radius: 12px;
    overflow: hidden;
}
#completed-challenges-info {
  height: 95%;
  width: 95%;
}
.challenge-duration {
    /* border: solid 1px black; */
    display: flex;
    align-items: center;
    margin-bottom: 8px;

  .challenge-card-days {
    border: solid 1px black;
    background-color: white;
    padding: 5px 12px;
    border-radius: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.title-summary {
  margin-bottom: 8px;

  .challenge-card-title {
    font-size: 18px;
    font-weight: lighter;
    text-align: start;
    margin: 0;
  }
  .challenge-card-summary {
    font-size: 12px;
    font-weight: lighter;
    text-align: start;
    margin: 0;
  }
}
.challenge-category {
    height: 25%;
    display: flex;
    padding: 2px 0px;

  .challenge-card-category {
    border: solid 0.5px black;
    padding: 3px 12px;
    border-radius: 25px;
    height: fit-content;
    margin-right: 3px;
    display: flex;
    justify-content: center;

    .challenge-category-text{
      font-size: 11px;
      font-weight: lighter;
      margin: 0;
    }
  }
}


/* a BIg Div */
.challenge-calls {
  /* border: solid 1px black; */
  padding: 3px 5px 0px 2px;
  height: 25%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-button {
  border: none;
  height: 63%;
  width: 30%;
  border-radius: 25px;
  background-color: black;
  color: white;
  position: static;
}
.progress-bar-div {
  height: 45%;
  width: 60%;
  border-radius: 10px;
}
