.search-result{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  background: white;
  width: 670px;
}

.button-container {
  margin-left: auto;
  padding: 5px 10px;
}
