.quick-fact {
  font-size: 17px;
  font-weight: lighter;
  text-align: initial;
}
.fact-div {
  background-color: #f5fcff;
  height: 288px;
  margin: 17px 28px;
  padding: 14px 16px;
  border: solid 0.5px;
  border-radius: 5px;
  #home{
  background-color: $orange;
  }
  #profile{
    background-color: $green;
  }
  #contact{
    background-color: $purple;
  }
}

.fact-icon {
  font-size: xx-large;
  color:$black;
}

.nav-link.active {
  i {
    color: $green;
  }
}
#fact-div-navbar {
  border-top-left-radius: 12px;
}


// start of the sticky side
.sticky-side { // Inline: Col-3, Children: <% render "user_sidebar" %>, Contains three divs that make up the sidebar;
  position: sticky;
  top: 69px;
  height: 90%;
  align-self: flex-start;
  margin-right: 45px;
} // Sticky Side
.user-info-div {
  background-color: white;
  width: 100%;
  height: 205px;
  border-radius: 12px;
}
.big-div {
  color: $green;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  width: 100%;
  height: 125%;
  position: relative;
  top: -55px;
}

.user-info {
  margin-bottom: 25px;
  width: fit-content;
  height: fit-content;

  div {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.daily-facts {
  background-color: $white;
  width: 100%;
  height: 370px;
  margin-top: 25px;
  border-radius: 11px;
  overflow: hidden;
} // daily facts

.add-entry {
  background-color: $black;
  color: $pink;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 37px;
  width: 100%;
  padding: 0.4rem;
  // box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.3), 0 0 25px -15px rgba(0, 0, 0, 0.2);
} //add entry
#add-entry {
  height: 20%;
}
#floating-avatar {
  border: solid 1px $green;
  background-color: white;
  /* border: solid 1px black; */
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  border-radius: 50%;
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
} // floating avatar
#following-followers-posts {
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
