.my-avatar{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  background-color: white;
  border: solid;

  object-position: center;
  object-fit: cover;
}
.avatar-image{
  height: 100%;
  width: 100%;
  margin:10%;
}
.user-card{
  width:400px;
  height: fit-content;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 70px;
}

.stats{
  height:80px;
  width:80px;
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  .p{
  font-size:25px ;
  }
}

.sus-score-chart{
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  width: 280px;
  height: 280px;
}
.small-text{
  font-size: 10px;
  font-weight: lighter;
  padding: 0%;
}
