.my-avatar{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  background-color: white;
  border: $green 2px solid;

  object-position: center;
  object-fit: cover;
}
.avatar-image{
  height: 100%;
  width: 100%;
  margin:10%;
}
.user-card{
  width:350px;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 60px;
  border-radius: 15px;
}

.stats{
  height:95px;
  width:95px;
  border-radius: 5px;
  background-color: $pink;
  margin: 10px;
  justify-content: center;
  .number{
  font-size:30px ;
  color: $green;
  margin-bottom: 0px;
  }
  hr{
    margin:auto;
    border: solid 1px $green;
    width: 80%;
  }
}

.ranking{
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.sus-score-chart{
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  width: 280px;
  height: 280px;
}
.small-text{
  font-size: 12px;
  font-weight:100;
  color: darkgrey;
  padding: 0%;
  margin-top: 3px;
}
