.my-avatar{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: absolute;
  top: -60px;
  background-color: white;
  border: solid;

  object-position: center;
  object-fit: cover;
}
.avatar-image{
  height: 100%;
  width: 100%;
  margin:10%;
}
.user-card{
  width:300px;
  height: fit-content;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 70px;
}

.stats{
  height:30px;
  width:30px;
  border-radius: 5px;
  background-color: white;
  margin: 5px;
}

.sus-score-chart{
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  width: 280px;
  height: 280px;
}

// my one
body {
  background-color: $beige;
}
.user-dashboard-content{
  display: flex;
  margin-top: 60px;
}
.sticky-side{
  position: sticky;
  height: 90%;
  align-self: flex-start;
  margin-right: 45px;
}
.user-info-div {
  /* border: solid 1px black; */
  background-color: $dark-green;
  width: 100%;
  height: 200px;
  box-shadow: 0 5px 20px #605760d9;
  border-radius: 12px;
}
.big-div {
  color: $pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  width: 100%;
  height: 125%;
  position: relative;
  top: -55px;
}
.user-info-child {
  // border: solid 1px black;
  background-color: $dark-green;
  margin-bottom: 16px;
  width: fit-content;
  height: fit-content;
}
#floating-avatar {
  border: solid 0.3px #c3c3c3;
  background-color: #c25b5b;
  /* border: solid 1px black; */
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  border-radius: 50%;
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

#user-friend-info {
  background-color: $dark-green;
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.user-friend-info-child {
  background-color: $dark-green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#user-stats {
  background-color: $dark-green;
  border: solid 1px black;
  height: 100px;
  width: 90%;
}
#add-entry {
  height: 20%;
}
.call-to-action {
  background-color: $pink;
  color: $dark-green;
  border: none;
  margin-top: 25px;
  border-radius: 10px;
  font-size: 37px;
  width: 100%;
  padding: 0.4rem;
  // box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.3), 0 0 25px -15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 20px #605760d9;
}

.daily-facts {
  background-color: $dark-green;
  width: 100%;
  height: 350px;
  margin-top: 25px;
  border-radius: 11px;
  box-shadow: 0 5px 20px #605760d9;
}
// End of Sticky Side Info
// Active Challenges Begins
.my-challenges {
  // width: 75%;
  overflow-x: hidden;
}
.active-challenges {
  overflow: hidden;
}
.challenge-iteration {
  display: flex;
  overflow: scroll;
  flex-wrap: wrap;
}

.dashboard-challenges {
  border: none;
  background-color: #e5e0d6;
  height: 265px;
  width: 285px;
  margin: 5px 30px 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: inset 0 1px 2.5px #605760d9;
}
.completed-challenges {
  margin: 30px 0px 0px 0px;
}
// Active Challenges Ends
