.quick-fact {
  font-size: 17px;
  font-weight: lighter;
  text-align: initial;
}
.fact-div {
  border: solid 1px black;
  background-color: #f7e3f2b3;
  height: 101%;
  width: 100%;
  padding: 5px 2px 5px 2px;
  border-radius: 12px;
}

.fact-icon {
  font-size: xx-large;
  color:$black;
}
.nav-link {
  margin-right: 1px;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  &:hover {

  }
}
#home-tab{
  border-radius: 5px;
  border: solid 1px rgba(174, 174, 174, 0);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  &:hover{
    border: solid 1px rgba(0, 0, 0, 0.197);
  }
  &.active{
    border: solid 1px black;
  }
}
#profile-tab{
  border-radius: 5px;
  border: solid 1px rgba(174, 174, 174, 0);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  &:hover{
    border: solid 1px rgba(0, 0, 0, 0.197);
  }
  &.active{
    border: solid 1px black;
  }
}
#contact-tab{
  border: solid 1px rgba(174, 174, 174, 0);
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  &:hover{
    border: solid 1px rgba(0, 0, 0, 0.197);
  }
  &.active{
    border: solid 1px black;
  }
}
.nav-link.active {
  border-radius: 5px;
  border: solid 1px black;
  i {
    color: $green;
  }
}
#fact-div-navbar {
  border-top-left-radius: 12px;
}


// start of the sticky side
.sticky-side { // Inline: Col-3, Children: <% render "user_sidebar" %>, Contains three divs that make up the sidebar;
  position: sticky;
  top: 125px;
  height: 90%;
  align-self: flex-start;
  margin-right: 45px;
} // Sticky Side
.user-info-div {
  background-color: white;
  width: 100%;
  height: 205px;
  border-radius: 12px;
}
.big-div {
  color: $green;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  width: 100%;
  height: 125%;
  position: relative;
  top: -55px;
}

.user-info {
  margin-bottom: 25px;
  width: fit-content;
  height: fit-content;

  div {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.daily-facts {
  border: solid 1px black;
  background-color: #dedede;
  width: 22%;
  height: 390px;
  margin-top: 10px;
  padding: 15px 12px;
  border-radius: 11px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} // daily facts
#myTabContent {
  height: 100%;
}
.nav-tabs {
  margin-bottom: 15px;
}
.progress-header{
align-items: center;
}
.add-entry {
  background-color: $black;
  color: $pink;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 37px;
  width: 100%;
  padding: 0.4rem;
  // box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.3), 0 0 25px -15px rgba(0, 0, 0, 0.2);
} //add entry
#add-entry {
  height: 20%;
}
#floating-avatar {
  border: solid 2px $green;
  background-color: white;
  /* border: solid 1px black; */
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  border-radius: 50%;
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
} // floating avatar
#following-followers-posts {
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
